/* Typography */

html {
	font-family: 'Roboto', sans-serif;
	cursor: cell;
}

@media (max-width: 576px) {
	.footer {
    display: none;
	}
  .qrcode {
    margin-top: 20px!important;
  }
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
  .lense {
    opacity: .6!important;
    bottom: -50%!important;
  }
  .footer .keith {
    transform: rotate(-45deg) scale(.5)!important;
    right: -60px!important;
    bottom: -30px!important;
  }
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* justify-content: center; */
	padding: 0 30px;
	text-align: center;
}

.intro {
  padding-top: 5rem;
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}
