/* Theme */

::selection {
  background: #333;
  color: #FFFC00;
}
::-moz-selection {
  background: #333;
  color: #FFFC00;
}

a { outline: none; }

html {
  background-color: #FFFC00;
  background: #FFFC00;
	background: linear-gradient(-45deg, #FFF, #FFF, #FFFC00, #FFFC00);
	background-size: 400% 400%;
	animation: gradientBg 8s ease-in infinite;
  animation-delay: 7s;
	color: #1E1E1E;
}

body:after {
  content: '';
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: rgb(225,240,82);
  transition: opacity 1s ease-out;
}

.lense {
  position: fixed!important;
  z-index: -1;
  left: -17%!important;
  right: -17%!important;
  top: -10%!important;
  bottom: -25%!important;
  animation: scaleDown 2s ease-out;
  background: radial-gradient(circle closest-corner at 50% 45%, rgba(0,0,0,0) 70%, rgba(0,0,0,.5) 100%)
}

.footer {
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: .8em;
  opacity: .85;
  opacity: 0;
  animation: slideIn 1.2s cubic-bezier(0.680, -0.550, 0.265, 1.55) 1.0s forwards;
}
.footer .glyph {
  margin: 0 5px;
  transform: translateY(10px);
}
.footer .keith {
  position: absolute;
  right: -60px;
  bottom: -20px;
  transform: scale(.8) rotate(-45deg)
}
.footer svg {
  vertical-align: middle;
  height: 1.35em;
}
a.footer {
  vertical-align: middle;
  text-decoration: none;
  color: #1E1E1E;
}
.background {
  pointer-events: none;
  animation: buildInBg 2s ease-in .35s;
  animation-fill-mode: forwards;
  background: url("../../images/bg.png") no-repeat 50% 100%;
  background-size: cover;
  position: absolute;
  width: 125%;
  left: -25%!important;
  top: -25%!important;
  bottom: -25%!important;
  opacity: 0;
  z-index: -1;
}

@keyframes gradientBg {
	0% {
		background-position: 0% 50%;
	}
	7% {
		background-position: 100% 50%;
	}
	40% {
		background-position: 100% 50%;
	}
	60% {
		background-position: 0% 50%;
	}
}

h1 > a {
  color: #1E1E1E;
  text-decoration: none;
}
h2.tagline {
  margin-top: .5rem;
}
h2 > a {
  color: #1E1E1E;
  text-decoration: none;
}

a.center.qrcode-link {
  width: auto!important;
  display: inline-block!important;
}

small {
  font-size: .65em;
  opacity: .5;
}

.icons-social {
  margin-bottom: 50px;
}

.icons-social a {
	color: #1E1E1E;
}

.icons-social a svg path{
	fill: #1E1E1E;
}

@keyframes slideIn {
  0% {
    transform: rotate(5deg) translateX(50px);
    opacity: 0;
  }
  100% {
    transform: rotate(0) scale(1) translateX(-12px);
    opacity: .85;
  }
}

@keyframes buildInBg {
  0% {
    opacity: 0;
    transform: trans
  }
  100% {
    opacity: .05;
  }
}

@keyframes buildInBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .05;
  }
}
@keyframes buildInTagline {
  0% {
    opacity: .1;
    transform: scale(1);
  }
  25% {
    transform: scale(1.1) translateY(2px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes buildInSocial {
  0% {
    opacity: .2;
    transform: scale(1);
  }
  25% {
    transform: scale(1.2) translateY(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
@keyframes buildInQr {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    transform: scale(1.5) translateY(10px);
  }
  100% {
    opacity: .85;
    transform: scale(1) translateY(0);
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotateIn {
  0% {
    transform: rotate(-300deg) scale(10);
  }
  80% {
    transform: scale(.9);
  }
  95% {
    transform: scale(1.04);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

body {
  overflow: hidden;
}
h2.tagline {
  font-size: 1.6em;
  animation: buildInTagline .65s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.icons-social {
  animation: buildInSocial .75s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.icons-social > a {
  position: relative;
  transition: transform .3s cubic-bezier(0.680, -0.550, 0.265, 1.550), margin .4s ease-in;
  display: inline-block;
}
.icons-social > a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  transition: transform 1s ease-in;
  border-radius: 50%;
  z-index: -1;
}

.icons-social > a:hover:before {
  transform: scale(1.1);
  background-color: rgb(225,240,82);
  opacity: 1;
  transition: transform .3s ease-out, opacity .3s ease-out;
}
.icons-social > a:hover {
  transform: scale(1.35) translateY(-5px);
  /* margin: 0 10px; */
  transition: none;
}
.qrcode {
  margin-top: 60px;
  transition: transform .3s cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;
  will-change: transform;
  animation: rotateIn .6s ease-in .1s;
}
.qrcode:hover {
  transform: scale(1.2);
  transition: transform .05s ease-in;
}

.center {
  width: 100%;
  position: relative!important;
  display: block;
  text-align: center;
}
